SECRET_KEY=YOUR_ACTUAL_KEY
DATABASE_URI=postgresql://secretariat_team:secretariat_pwd@localhost:5432/secretariat_db
DATABASE_NAME=secretariat_db
DATABASE_USER=secretariat_team
DATABASE_PASSWORD=secretariat_pwd
DATABASE_HOST=localhost
DATABASE_PORT=5432
