{% extends 'base.html' %}
{% load static %}
{% block content %}

    <h1>Connexion</h1>
    {% if user.is_authenticated %}
        <p>Current user: {{ user.email }}</p>
        <form action="{% url 'oidc_logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="logout">
        </form>
    {% else %}      
        <form action="{% url 'oidc_authentication_init' %}" method="get">
            <div class="fr-connect-group">
                <button type="submit" class="fr-connect">
                    <span class="fr-connect__login">S’identifier avec</span>
                    <span class="fr-connect__brand">MonComptePro</span>
                </button>
                <input type="hidden" name="next" value="{{ next }}">
                <p>
                    <a href="https://moncomptepro.beta.gouv.fr/" target="_blank"  rel="noopener" title="Qu’est-ce que Mon compte pro ? - nouvelle fenêtre">Qu’est-ce que MonComptePro ?</a>
                </p>
            </div>
        </form>
    {% endif %}


    
{% endblock %}
